header {
	height: 8.8rem;
	color: #fff;
	background-color: #EF6330;
}

.header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0.533333rem 0.266666rem;
	font-size: 0.373333rem;
}

.header h3 {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 0.48rem;
	font-weight: 500;
	text-align: center;
}

.city span {
	font-size: 0.373333rem;
}

.add-cart i {
	font-size: 0.64rem;
}

.mian-day{
	display: flex;
	justify-content: space-between;
	padding: 0 0.266666rem;
	color: #fff;
}
.weather div:first-child{
	margin-top:0.266666rem;
}
.weather div + div{
	padding-top:0.16rem;
	font-size:0.32rem;
}
.limitation{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 2.133333rem;
	height: 2.666666rem;
	font-size:0.373333rem;
	text-align: center;
	border:2px solid #fff;
}
.limitation div + div{
	font-size:0.32rem;
}